.pushable {
  background: hsl(173, 64%, 18%);
  border-radius: 4px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius:4px;
  font-size: 1.25rem;
  background: hsl(173, 100%, 22%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}